body {
    background: rgb(53, 53, 53);
    color: rgb(197, 197, 197);
    font-family: Helvetica, sans-serif;
}
h1 {
    color: rgb(86, 178, 240);
    text-align: center;
    font-size: 64px;
}

h2 {
    color: rgb(115, 192, 243);
    text-align: center;
    font-size: 56px;
}

p {
    font-size: 28px;
}

a {
    color: RGB(126, 186, 246);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item .image {
    width: 100%;
    background: red;
}

video {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.item .description {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.item .description .desc-box {
    background: rgb(80, 80, 80);
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
}


@media screen and (max-width: 1450px) {
    .item {
        flex-direction: column;
    }

    video {
        width: 90%;
    }

    .item .description {
        width: 90%;
    }
}
